In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# 상품등록 파일 불러오기
product_reg_raw = pd.read_excel('')

# 첫행 변경 및 필요한 컬럼 불러오기

In [ ]:
# 읽어온 데이터의 컬럼명 출력
print(product_reg_raw.columns)

# df에 할당된 데이터의 행렬 사이즈 출력
print(product_reg_raw.shape)

# 상위 5개 데이터 확인
product_reg_raw.head(3)

Index(['CD_PLANT', 'CD_ITEM', 'NM_ITEM', 'EN_ITEM', 'TP_PROC', 'CLS_ITEM',
       'CD_USERDEF9', 'CD_USERDEF10', 'CD_USERDEF11', 'CD_USERDEF9_NM',
       ...
       'CD_USERDEF22', 'UM_ROYALTY', 'NM_ITEM_L1', 'NM_ITEM_L2', 'NM_ITEM_L3',
       'NM_ITEM_L4', 'NM_ITEM_L5', 'CD_USERDEF23', 'CD_USERDEF24',
       '_IS_DETAILGET'],
      dtype='object', length=174)
(3743, 174)

  CD_PLANT       CD_ITEM  ... CD_USERDEF24  _IS_DETAILGET
0     공장코드          상품코드  ...      사용자정의39  _IS_DETAILGET
1     1000  181300000001  ...          NaN          False
2     1000  181300000002  ...          NaN            NaN

[3 rows x 174 columns]

In [ ]:
df = pd.DataFrame.copy(product_reg_raw)
df.head()

  CD_PLANT       CD_ITEM  ... CD_USERDEF24  _IS_DETAILGET
0     공장코드          상품코드  ...      사용자정의39  _IS_DETAILGET
1     1000  181300000001  ...          NaN          False
2     1000  181300000002  ...          NaN            NaN
3     1000  181300000003  ...          NaN            NaN
4     1000  181300000004  ...          NaN            NaN

[5 rows x 174 columns]

In [ ]:
df.columns = df.iloc[0]

In [ ]:
df.head()

0  공장코드          상품코드  ...  사용자정의39  _IS_DETAILGET
0  공장코드          상품코드  ...  사용자정의39  _IS_DETAILGET
1  1000  181300000001  ...      NaN          False
2  1000  181300000002  ...      NaN            NaN
3  1000  181300000003  ...      NaN            NaN
4  1000  181300000004  ...      NaN            NaN

[5 rows x 174 columns]

In [ ]:
df = df.iloc[1:]
df.head(5)

0  공장코드          상품코드  ... 사용자정의39 _IS_DETAILGET
1  1000  181300000001  ...     NaN         False
2  1000  181300000002  ...     NaN           NaN
3  1000  181300000003  ...     NaN           NaN
4  1000  181300000004  ...     NaN           NaN
5  1000  181300000005  ...     NaN           NaN

[5 rows x 174 columns]

In [ ]:
print(df.columns)

Index(['공장코드', '상품코드', '품목명', '폼목명(2)', '조달구분', '계정구분', '국가', '와이너리', '상품명',
       '국가',
       ...
       '사용자정의37', 'ROYALTY', '다국어1', '다국어2', '다국어3', '다국어4', '다국어5', '사용자정의38',
       '사용자정의39', '_IS_DETAILGET'],
      dtype='object', name=0, length=174)

In [ ]:
# 상품등록_화면 엑셀 불러오기
df2_raw = pd.read_excel('/content/drive/My Drive/dataset/20200920135214_상품등록_화면.xlsx')

In [ ]:
# 읽어온 데이터의 컬럼명 출력
print(df2_raw.columns)

# df에 할당된 데이터의 행렬 사이즈 출력
print(df2_raw.shape)

# 상위 5개 데이터 확인
df2_raw.head(3)

Index(['상품코드', '품목명', '폼목명(2)', '조달구분', '계정구분', '국가', '와이너리', '상품명', '빈티지',
       '용량', '와인종류', '등급', '지역', '세부지역', '밭이름', '점수', 'ATP적용여부', '포도품종',
       '판매구분', '재고단위', '수주단위', '발주단위', '출하단위', '주종', '바코드', '대분류', '중분류',
       '소분류', '등록일', '수정일', '비고', '첨부파일', '최소재고보유량', '규격', 'POS상품명',
       'POS상품등록여부', '셋트상품구분', 'POS판매가'],
      dtype='object')
(3742, 38)

           상품코드                                   품목명  ... 셋트상품구분 POS판매가
0  181300000001      Ana Vineyard Arthur's Block 2001  ...   일반상품      0
1  181300000002  Ana Vineyard Reserve Pinot Noir 2002  ...    NaN      0
2  181300000003  Ana Vineyard Reserve Pinot Noir 2003  ...    NaN      0

[3 rows x 38 columns]

In [ ]:
df2 = pd.DataFrame.copy(df2_raw)
df2.head(3)

           상품코드                                   품목명  ... 셋트상품구분 POS판매가
0  181300000001      Ana Vineyard Arthur's Block 2001  ...   일반상품      0
1  181300000002  Ana Vineyard Reserve Pinot Noir 2002  ...    NaN      0
2  181300000003  Ana Vineyard Reserve Pinot Noir 2003  ...    NaN      0

[3 rows x 38 columns]

In [ ]:
new_col = ['상품코드', '품목명', '국가', '와이너리', '상품명', '빈티지', '용량', '와인종류', '등급', '지역', '세부지역', '밭이름', '점수', '포도품종','판매구분']
df2 = df2[new_col]
print(df2.shape)
df2.head(3)

(3742, 15)

           상품코드                                   품목명  국가  ...   점수        포도품종 판매구분
0  181300000001      Ana Vineyard Arthur's Block 2001  미국  ...  NaN  Pinot Noir  ASK
1  181300000002  Ana Vineyard Reserve Pinot Noir 2002  미국  ...  NaN  Pinot Noir  L.S
2  181300000003  Ana Vineyard Reserve Pinot Noir 2003  미국  ...  NaN  Pinot Noir  L.S

[3 rows x 15 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3742 entries, 0 to 3741
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품코드    3742 non-null   int64
 1   품목명     3742 non-null   object
 2   국가      3580 non-null   object
 3   와이너리    3648 non-null   object
 4   상품명     3630 non-null   object
 5   빈티지     3658 non-null   object
 6   용량      3550 non-null   object
 7   와인종류    3536 non-null   object
 8   등급      2818 non-null   object
 9   지역      3522 non-null   object
 10  세부지역    3057 non-null   object
 11  밭이름     47 non-null     object
 12  점수      1647 non-null   object
 13  포도품종    2929 non-null   object
 14  판매구분    3742 non-null   object
dtypes: int64(1), object(14)
memory usage: 438.6+ KB

In [ ]:
df2.head(5)

           상품코드                                   품목명  ...        포도품종   판매구분
0  181300000001      Ana Vineyard Arthur's Block 2001  ...  Pinot Noir    ASK
1  181300000002  Ana Vineyard Reserve Pinot Noir 2002  ...  Pinot Noir    L.S
2  181300000003  Ana Vineyard Reserve Pinot Noir 2003  ...  Pinot Noir    L.S
3  181300000004  Ana Vineyard Reserve Pinot Noir 2004  ...  Pinot Noir    L.S
4  181300000005    Archery Summit Arcus Vineyard 2002  ...  Pinot Noir  Promo

[5 rows x 15 columns]

# Feature Description
- 상품코드 (index) : 품목별 빈티지별 용량별 생성된 코드입니다.
- 품목명 (product) : 와이너리명 품목명 빈티지명과 함께 하프보틀이나 매그넘 등 별도 사이즈를 표기한 품목명입니다.
- 국가 (country) : 품목이 생산된 국가입니다.
- 와이너리 (winery) : 품목을 생산한 와이너리 명칭입니다. 유한회사, 주식회사등의 표기는 생략하였습니다.
- 상품명 (product_name) : 와이너리명을 제외한 상품명입니다. 와이너리가 달라도 상품명에 지역을 사용하는 경우가 있어 중복될 수 있습니다. 
- 빈티지 (vintage) : 와인을 생산하기 위한 포도를 수확한 해를 빈티지라고 부르며, 빈티지를 와인에 표기합니다. 해당 값은 각 와인에 명시되어있는 값을 따릅니다. 
- 용량 (volume) : 와인의 용량을 표기합니다. 가장 일반적인 750ml 외에 375ml, 1500ml부터 9000ml까지 나뉘어 있습니다.
- 와인종류 (type) : 레드,화이트, 스파클링, 로제, 스위트 등 와인의 종류를 구분합니다.
- 등급 (class) : 기본적으로 프랑스 및 기타 구대륙의 등급을 표기합니다. 미국의 AVA의 경우 등급과는 다른점이 있어 따로 명시하지 않습니다. (업데이트 필요)
- 지역 (region) : 와인 생산지를 기재함에 있어 국가 다음으로 큰 범주입니다. 
- 세부지역 (subregion) : 지역 하위에 존재하는 세부지역입니다.
- 밭이름 (appellation) : 프랑스 부르고뉴에서 밭을 표기하는 Appellation이 있을 경우 명시합니다.
- 점수 (accolade) : Robert Parker, Wine Spectator, Burghound 세 매거진을 참조하여 기재합니다. (업데이트 필요)
- 포도품종 (variety) : 품목별로 와인을 생산하기 위해 사용된 품종들을 명시합니다. 샴페인의 경우 각 품목별 블렌딩 비율을 기재하며, 나머지 품목의 경우 주품종이 80% 이상 사용되었을 경우 주품종만 표기, 흔하지 않은 품종이 사용되었을 경우 전체 표기합니다. (업데이트 필요)
- 판매구분 (status) : 판매구분에 따른 분류입니다.

# 국가별 지역별 세부산지별 품목 개수 확인
- NaN값 일단 드랍하고 데이터 있는 행들만 분석

In [ ]:
df3 = df2[['국가', '와이너리', '상품명', '와인종류', '등급', '지역', '세부지역', '포도품종']]
print(df3.shape)
df3.head(10)

(3742, 8)

   국가            와이너리  ...               세부지역        포도품종
0  미국             Ana  ...  Willamette Valley  Pinot Noir
1  미국             Ana  ...  Willamette Valley  Pinot Noir
2  미국             Ana  ...  Willamette Valley  Pinot Noir
3  미국             Ana  ...  Willamette Valley  Pinot Noir
4  미국  Archery Summit  ...  Willamette Valley  Pinot Noir
5  미국  Archery Summit  ...  Willamette Valley  Pinot Noir
6  미국  Archery Summit  ...  Willamette Valley  Pinot Noir
7  미국  Archery Summit  ...  Willamette Valley  Pinot Noir
8  미국  Archery Summit  ...  Willamette Valley  Pinot Noir
9  미국  Archery Summit  ...  Willamette Valley  Pinot Noir

[10 rows x 8 columns]

In [ ]:
df3.loc[df3['등급'].isna()] # 데이터 내 등급이 NaN인 값 확인, 행 중에 품목명이 NaN값인 것들은 드랍하는게 나음.

       국가            와이너리  ...               세부지역        포도품종
1      미국             Ana  ...  Willamette Valley  Pinot Noir
2      미국             Ana  ...  Willamette Valley  Pinot Noir
3      미국             Ana  ...  Willamette Valley  Pinot Noir
4      미국  Archery Summit  ...  Willamette Valley  Pinot Noir
5      미국  Archery Summit  ...  Willamette Valley  Pinot Noir
...   ...             ...  ...                ...         ...
3737  NaN             NaN  ...                NaN         NaN
3738  NaN             NaN  ...                NaN         NaN
3739  NaN             NaN  ...                NaN         NaN
3740  NaN             NaN  ...                NaN         NaN
3741  NaN             NaN  ...                NaN         NaN

[924 rows x 8 columns]

In [ ]:
df3.info() # 각 열에 NaN값이 몇개씩 있는지 대략적으로 알 수 있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3742 entries, 0 to 3741
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      3580 non-null   object
 1   와이너리    3648 non-null   object
 2   상품명     3630 non-null   object
 3   와인종류    3536 non-null   object
 4   등급      2818 non-null   object
 5   지역      3522 non-null   object
 6   세부지역    3057 non-null   object
 7   포도품종    2929 non-null   object
dtypes: object(8)
memory usage: 234.0+ KB

In [ ]:
df3.loc[df3['와이너리'].notnull()]

       국가                   와이너리  ...               세부지역        포도품종
0      미국                    Ana  ...  Willamette Valley  Pinot Noir
1      미국                    Ana  ...  Willamette Valley  Pinot Noir
2      미국                    Ana  ...  Willamette Valley  Pinot Noir
3      미국                    Ana  ...  Willamette Valley  Pinot Noir
4      미국         Archery Summit  ...  Willamette Valley  Pinot Noir
...   ...                    ...  ...                ...         ...
3664  NaN     Chateau Haut Brion  ...                NaN         NaN
3669  NaN       Chateau Montrose  ...                NaN         NaN
3676  프랑스  Domaine Charle Audoin  ...          Marsannay  Pinot Noir
3677  프랑스  Domaine Charle Audoin  ...          Marsannay  Pinot Noir
3678  이태리       Luciano Sandrone  ...                NaN         NaN

[3648 rows x 8 columns]

In [ ]:
pd.DataFrame.drop_duplicates(df3)
print(df3.shape)

(3742, 8)

In [ ]:
df3.head(20)

    국가            와이너리  ...               세부지역        포도품종
0   미국             Ana  ...  Willamette Valley  Pinot Noir
1   미국             Ana  ...  Willamette Valley  Pinot Noir
2   미국             Ana  ...  Willamette Valley  Pinot Noir
3   미국             Ana  ...  Willamette Valley  Pinot Noir
4   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
5   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
6   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
7   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
8   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
9   미국  Archery Summit  ...  Willamette Valley  Pinot Noir
10  미국          Argyle  ...  Willamette Valley  Pinot Noir
11  미국          Argyle  ...  Willamette Valley  Pinot Noir
12  미국          Argyle  ...  Willamette Valley  Pinot Noir
13  미국          A to Z  ...  Willamette Valley  Pinot Gris
14  미국          A to Z  ...  Willamette Valley  Pinot Noir
15  미국          A to Z  ...  Willamette Valley  Pinot Noir
16  미국    Beaux Freres  ...  Willamette Valley  Pinot Noir
17  미국    Beaux Freres  ...  Willamette Valley  Pinot Noir
18  미국    Beaux Freres  ...  Willamette Valley  Pinot Noir
19  미국    Beaux Freres  ...  Willamette Valley  Pinot Noir

[20 rows x 8 columns]

In [ ]:
df3.groupby('국가').count()

      와이너리   상품명  와인종류    등급    지역  세부지역  포도품종
국가
뉴질랜드    87    87    87     0    87     0    86
독일       2     2     2     0     2     0     0
미국     205   205   199     1   205   185   188
스페인     23    23    23     0    18     0    15
이태리     63    63    63    29    62     5    18
프랑스   3092  3093  3068  2788  3052  2824  2604
호주      96    96    94     0    96    43    18

In [ ]:
pd.set_option('max_rows', 500) # pandas에서 보여줄 수 있는 행의 숫자 제한을 최대 500개로 지정
pd.set_option('min_rows', 100) # pandas에서 보여줄 수 있는 행의 숫자 제한을 최소 100개로 지정

In [ ]:
df3.groupby(['국가','지역','세부지역']).count()

                                                      와이너리  상품명  ...   등급  포도품종
국가  지역              세부지역                                         ...
미국  Oregon          Willamette Valley                  185  185  ...    1   184
이태리 Piedmonte       Barbera d'Alba                       1    1  ...    1     1
                    Barolo                               2    2  ...    2     2
                    Dolcetto d'Alba                      1    1  ...    1     1
                    Langhe                               1    1  ...    1     1
프랑스 Beaujolais      Beaujolais Villages                  2    2  ...    2     2
                    Chenas                               2    2  ...    2     2
                    Cote de Brouilly                     2    2  ...    2     2
                    Fleurie                              5    4  ...    5     5
                    Morgon                               4    4  ...    4     4
                    Moulin a Vent                        7    7  ...    7     7
                    Regnie                               2    2  ...    2     2
    Bordeaux        Barsac                               2    2  ...    0     0
                    Bordeaux Superieur                   3    3  ...    0     0
                    Haut Medoc                           2    2  ...    0     0
                    Margaux                              2    2  ...    0     0
                    Pauillac                             9    9  ...    0     0
                    Pessac Leognan                       5    5  ...    0     0
                    Pomerol                              2    2  ...    0     0
                    Saint-Emilion                        4    4  ...    0     0
                    Saint-Estephe                        2    2  ...    0     0
                    Saint-Julien                         1    1  ...    0     0
                    Sauternes                            1    1  ...    0     0
    Bourgogne       Aloxe Corton                         3    3  ...    3     3
                    Auxey Duresses                       3    3  ...    3     3
                    Batard Montrachet                   51   51  ...   51    48
                    Beaune                               8    8  ...    8     8
                    Bienvenues Batard Montrachet        10   10  ...   10    10
                    Bonnes Mares                        51   51  ...   51    50
                    Bouzeron                             2    2  ...    2     2
                    Chablis                             31   31  ...   31    31
                    Chambertin                          40   40  ...   40    40
                    Chambertin Clos de Beze             67   67  ...   67    66
                    Chambolle Musigny                  166  166  ...  166   161
                    Chapelle Chambertin                 32   32  ...   32    32
                    Charmes Chambertin                  74   74  ...   74    74
                    Chassagne Montrachet                72   72  ...   71    59
                    Chevalier Montrachet                25   25  ...   25    22
                    Clos Saint Denis                    22   22  ...   22    21
                    Clos de La Roche                    74   74  ...   74    71
                    Clos de Vougeot                     80   80  ...   80    80
                    Clos des Lambrays                    1    1  ...    1     1
                    Corton                              40   40  ...   40    38
                    Corton Charlemagne                  16   16  ...   16    15
                    Cote de Nuits                       10   10  ...   10    10
                    Criots Batard Montrachet             7    7  ...    7     7
                    Echezeaux                           74   74  ...   74    73
                    Fixin                               13   13  ...   13    13
                    Gevrey Chambertin                  174  174  ...  174   171
                    Givry                                4    4  ...    4     4
                    Grands Echezeaux                    16   16  ...   16    15
                    Griotte Chambertin                  17   17  ...   17    17
                    Irancy                               1    1  ...    1     1
                    La Grande Rue                        1    1  ...    1     1
                    Ladoix                               6    6  ...    6     6
                    Latricieres Chambertin               7    7  ...    7     7
                    Macon                                1    1  ...    1     1
                    Marsannay                           29   26  ...   28    28
                    Mazis Chambertin                    29   29  ...   29    29
                    Mazoyeres Chambertin                11   11  ...   11    11
                    Mercurey                             2    2  ...    2     2
                    Meursault                          121  121  ...  121   117
                    Monthelie                            4    4  ...    4     4
                    Montrachet                          34   34  ...   34    33
                    Morey Saint Denis                   82   82  ...   82    82
                    Musigny                              2    2  ...    2     2
                    Nuits Saint Georges                183  183  ...  183   181
                    Pernand Vergelesses                  2    2  ...    2     2
                    Pommard                             30   30  ...   30    30
                    Pouilly Fuisse                      21   21  ...   21    21
                    Puligny Montrachet                  84   84  ...   84    82
                    Richebourg                          28   28  ...   28    28
                    Romanee Saint Vivant                24   24  ...   24    23
                    Ruchottes Chambertin                14   14  ...   14    14
                    Saint Aubin                         15   15  ...   15    14
                    Saint Bris                           6    6  ...    6     6
                    Saint Romain                        10   10  ...   10    10
                    Saint Veran                          1    1  ...    1     1
                    Santenay                             6    6  ...    6     6
                    Savigny les Beaune                   5    5  ...    5     5
                    Volnay                             125  125  ...  124   116
                    Vosne Romanee                      114  114  ...  114   112
                    Vougeot                              9    9  ...    9     9
    Bugey           Cerdon                               3    3  ...    0     2
    Champagne       Cote des Bar                        84   84  ...   83    24
                    Cote des Blancs                    123  123  ...  113    39
                    Montagne de Reims                  149  149  ...  133    81
                    Valle de la Marne                   79   79  ...   61    36
    Jura            Arbois                              10   10  ...    0    10
                    Arbois Pupillin                     18   18  ...    0     0
                    Cotes du Jura                       11   11  ...    0    10
    Loire           Touraine                             1    1  ...    0     1
                    Vouvray                             33   33  ...    0    33
    Provence        Bandol                               1    1  ...    0     1
                    Cote de Provence                     6    6  ...    0     6
                    Cote de Provence La Londe            1    1  ...    0     1
                    Coteaux d'Aix en Provence            1    1  ...    0     1
                    Cotes de Provence Saint-Victoire    11   11  ...    0     8
    Rhone           Chateauneuf du Pape                  9    9  ...    0     0
                    Cornas                               3    3  ...    0     1
                    Cote-Rotie                          11   11  ...    0     1
                    Cotes du Rhone                       2    2  ...    0     2
                    Saint Joseph                         1    1  ...    0     0
                    Tavel                                3    3  ...    0     0
    Roussillon      Banyuls                              1    0  ...    0     1
                    Cotes du Roussillon                  9    9  ...    0     1
호주  South Australia Barossa Valley                      37   37  ...    0    12
                    Langhorne Creek                      6    6  ...    0     2

[108 rows x 5 columns]

# 대표품목 생성 (빈티지 및 용량표기 제거)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3742 entries, 0 to 3741
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품코드    3742 non-null   int64
 1   품목명     3742 non-null   object
 2   국가      3580 non-null   object
 3   와이너리    3648 non-null   object
 4   상품명     3630 non-null   object
 5   빈티지     3658 non-null   object
 6   용량      3550 non-null   object
 7   와인종류    3536 non-null   object
 8   등급      2818 non-null   object
 9   지역      3522 non-null   object
 10  세부지역    3057 non-null   object
 11  밭이름     47 non-null     object
 12  점수      1647 non-null   object
 13  포도품종    2929 non-null   object
 14  판매구분    3742 non-null   object
dtypes: int64(1), object(14)
memory usage: 438.6+ KB

In [ ]:
df4 = df2[['품목명', '와이너리','상품명','포도품종','판매구분']]

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3742 entries, 0 to 3741
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   품목명     3742 non-null   object
 1   와이너리    3648 non-null   object
 2   상품명     3630 non-null   object
 3   포도품종    2929 non-null   object
 4   판매구분    3742 non-null   object
dtypes: object(5)
memory usage: 146.3+ KB

In [ ]:
# pd.set_option('display.max_rows',df4.shape[0]+1)
pd.set_option('display.max_rows',10)
df4 = df4.loc[(df4['상품명'].notnull()) & (df4['포도품종'].notnull()) & (df4['와이너리'].notnull())]
df4

                                                    품목명  ...   판매구분
0                      Ana Vineyard Arthur's Block 2001  ...    ASK
1                  Ana Vineyard Reserve Pinot Noir 2002  ...    L.S
2                  Ana Vineyard Reserve Pinot Noir 2003  ...    L.S
3                  Ana Vineyard Reserve Pinot Noir 2004  ...    L.S
4                    Archery Summit Arcus Vineyard 2002  ...  Promo
...                                                 ...  ...    ...
3627            Cristom Vineyards Eilleen Vineyard 2017  ...     판매
3628             Cristom Vineyards Jessie Vineyard 2017  ...     판매
3629  Clos Cibonne Cuvee Prestige Caroline Tibouren ...  ...     판매
3676          Domaine Charle Audoin Marsannay Rose 2018  ...     판매
3677          Domaine Charle Audoin Marsannay Rose 2019  ...     판매

[2923 rows x 5 columns]

In [ ]:
df4['대표품목명'] = df4['와이너리'] + " " + df4['상품명']

In [ ]:
df4.head(10)

                                    품목명  ...                          대표품목명
0      Ana Vineyard Arthur's Block 2001  ...             Ana Arthur's Block
1  Ana Vineyard Reserve Pinot Noir 2002  ...         Ana Reserve Pinot Noir
2  Ana Vineyard Reserve Pinot Noir 2003  ...         Ana Reserve Pinot Noir
3  Ana Vineyard Reserve Pinot Noir 2004  ...         Ana Reserve Pinot Noir
4    Archery Summit Arcus Vineyard 2002  ...  Archery Summit Arcus Vineyard
5    Archery Summit Arcus Vineyard 2003  ...  Archery Summit Arcus Vineyard
6            Archery Summit Estate 2002  ...          Archery Summit Estate
7            Archery Summit Estate 2003  ...          Archery Summit Estate
8     Archery Summit Premier Cuvee 2002  ...   Archery Summit Premier Cuvee
9     Archery Summit Premier Cuvee 2002  ...   Archery Summit Premier Cuvee

[10 rows x 6 columns]

In [ ]:
df4 = df4[['대표품목명', '포도품종','판매구분']]

In [ ]:
pd.set_option('display.max_rows',10)
df4.drop_duplicates(keep='last')

                                              대표품목명  ...      판매구분
0                                Ana Arthur's Block  ...       ASK
3                            Ana Reserve Pinot Noir  ...       L.S
5                     Archery Summit Arcus Vineyard  ...     Promo
7                             Archery Summit Estate  ...     Promo
8                      Archery Summit Premier Cuvee  ...  SOLD OUT
...                                             ...  ...       ...
3625                    Cristom Mt.Jefferson 1500ml  ...        판매
3627                       Cristom Eilleen Vineyard  ...        판매
3628                        Cristom Jessie Vineyard  ...        판매
3629  Clos Cibonne Cuvee Prestige Caroline Tibouren  ...        판매
3677           Domaine Charle Audoin Marsannay Rose  ...        판매

[1669 rows x 3 columns]

In [ ]:
df4.loc[df4['대표품목명'].str.contains('ml')]

                                                  대표품목명  ...                                        대표품목명_strip
30        Beaux Freres The Beaux Freres Vineyard 1500ml  ...             Beaux Freres The Beaux Freres Vineyard
41        Beaux Freres The Beaux Freres Vineyard 1500ml  ...             Beaux Freres The Beaux Freres Vineyard
42                    Beaux Freres Upper Terrace 1500ml  ...                         Beaux Freres Upper Terrace
45                        Cristom Jessie Vineyard 375ml  ...                         Cristom Jessie Vineyard 37
59                       Cristom Louise Vineyard 1500ml  ...                            Cristom Louise Vineyard
...                                                 ...  ...                                                ...
3408                 Fontaine-Gagnard Montrachet 1500ml  ...                        Fontaine-Gagnard Montrachet
3504  Domaine Thenard Givry 1er Cru Clos du Cellier ...  ...  Domaine Thenard Givry 1er Cru Clos du Cellier ...
3613              Domaine Serene Evenstad Reserve 375ml  ...                 Domaine Serene Evenstad Reserve 37
3624                         Cristom Mt.Jefferson 375ml  ...                            Cristom Mt.Jefferson 37
3625                        Cristom Mt.Jefferson 1500ml  ...                               Cristom Mt.Jefferson

[216 rows x 4 columns]

In [ ]:
df4['대표품목명'] = df4['대표품목명'].str.strip(' 1500ml')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df4.head()

                           대표품목명  ...                    대표품목명_strip
0             Ana Arthur's Block  ...             Ana Arthur's Block
1         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
2         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
3         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
4  Archery Summit Arcus Vineyard  ...  Archery Summit Arcus Vineyard

[5 rows x 4 columns]

In [ ]:
df4['대표품목명'] = df4['대표품목명'].str.strip(" 375ml")
df4['대표품목명'] = df4['대표품목명'].str.strip(" 3000ml")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df4.loc[df4['대표품목명'].str.contains('ml')]

ValueError: ignored

# 포도품종 개수 시각화

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm -/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 22 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded
rm: invalid option -- '/'
Try 'rm --help' for more information.

In [ ]:
# matplotlib 불러오기
import matplotlib.pyplot as plt
plt.rc('font', family='NanumBarunGothic')

In [ ]:
df4.head()

                           대표품목명  ...                    대표품목명_strip
0             Ana Arthur's Block  ...             Ana Arthur's Block
1         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
2         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
3         Ana Reserve Pinot Noir  ...         Ana Reserve Pinot Noir
4  Archery Summit Arcus Vineyard  ...  Archery Summit Arcus Vineyard

[5 rows x 4 columns]

In [ ]:
df4 = df4.loc[(df4['판매구분'] == 'ASK') | (df4['판매구분'] == '판매')]
df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1289 entries, 0 to 3677
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   대표품목명        1289 non-null   object
 1   포도품종         1289 non-null   object
 2   판매구분         1289 non-null   object
 3   대표품목명_strip  1289 non-null   object
dtypes: object(4)
memory usage: 50.4+ KB

In [ ]:
grouped = df4.groupby('포도품종').count()

In [ ]:
grouped.sort_values('대표품목명', ascending=False)

                        대표품목명  판매구분  대표품목명_strip
포도품종
Pinot Noir                825   825          825
Chardonnay                160   160          160
CH 100%                    58    58           58
PN 100%                    34    34           34
Chenin blanc               18    18           18
...                       ...   ...          ...
PM 80%, CH 20%              1     1            1
PM 90%, PN 7%,\nCH 3%       1     1            1
PN 20%, CH 80%              1     1            1
PN 40%, PM 40%, CH 20%      1     1            1
Viognier                    1     1            1

[86 rows x 3 columns]

In [ ]:
df4.loc[df4['포도품종'] == 'PM 90%, PN 7%,\nCH 3%']

                                  대표품목명  ...                        대표품목명_strip
2030  Francoise Bedel L'ame de La Terre  ...  Francoise Bedel L'ame de La Terre

[1 rows x 4 columns]